<!DOCTYPE html>
<html lang="en">

    <head>
        <title>
            Rubik's Cube solver
        </title>
    </head>

    <body>
        <form action="/solver">
            Scramble: <input type="text" name="scramble">
            <input type="submit">
        </form>
        {% for step in steps %}
        <h3>{{step['step']}}</h3>
        <h4>{{step['name']}}</h4>
        <p>
            {% for alg in step['algorithms'] %}
            {{alg}}<br />
            {% endfor %}
        </p>
        {% endfor %}
    </body>
</html>